@font-face {
    font-family: "Rock Salt";
    font-style: normal;
    font-weight: 400;
    src: url("./rock-salt.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
        U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193,
        U+2212, U+2215, U+FEFF, U+FFFD;
}

.graffiti-login {
    --back: rgb(26, 26, 26, 0.7);
    --halfback: rgba(80, 80, 80, 0.7);
    --halfback2: rgba(26, 26, 26, 0.7);
    --hover: rgba(202, 122, 204, 0.5);
    --frontfaded: rgba(210, 210, 210);
    --front: rgba(230, 230, 230);
    --emph: rgb(202, 122, 204);
    --blurpix: 3px;
    border-color: var(--emph);
    box-sizing: border-box;
    border-width: 2px;
    padding: 0;
    margin: 0;
    border-radius: 1rem;
    box-shadow: 0 0 2rem black;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    display: block;
    min-width: 95dvw;
    min-height: 95dvh;
    height: 95dvh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family:
        Inter,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Fira Sans",
        "Droid Sans",
        "Helvetica Neue",
        sans-serif;
    color: var(--frontfaded);

    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    header {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    main {
        flex: 1;
        max-width: 600px;
        width: 100%;
        gap: 4dvh;
        padding-top: 4dvh;
        padding-bottom: 4dvh;
        margin-top: 4dvh;
        margin-bottom: 4dvh;
        margin-left: 4dvw;
        margin-right: 4dvw;
        padding-left: 4dvw;
        padding-right: 4dvw;
        background: var(--back);
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        scrollbar-color: var(--emph) rgba(0, 0, 0, 0);
    }

    h1 {
        font-size: 1rem;
        font-family: Rock Salt;
        letter-spacing: 0.2em;
        text-align: center;
        color: var(--front);
    }

    h1 a {
        color: inherit;
    }

    h1 a:hover {
        background: none;
        color: inherit;
    }

    button,
    :is(p, ul) a,
    input[type="submit"] {
        color: var(--emph);
    }

    button,
    input[type="submit"],
    menu a {
        font-size: 1rem;
        text-align: center;
        display: block;
        border-radius: 1rem;
        border: 2px solid var(--emph);
        padding: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        transition: 0.1s;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        background: none;
        line-height: 1.2rem;
    }

    header button {
        border-radius: 0 0 0 1rem;
        border-right: none;
        border-top: none;
        background-color: var(--halfback2);
        width: fit-content;
        position: relative;
        overflow: hidden;
    }

    header button::before {
        z-index: -1;
        top: 0;
        left: 0;
        height: 100%;
        position: absolute;
        width: 100%;
        content: "";
        background-color: var(--back);
    }

    @media (max-width: 600px) {
        main {
            border-radius: 0;
            margin: auto;
            overflow: auto;
        }

        header button {
            border-radius: 0;
            border-left: none;
            width: 100%;
        }

        html {
            justify-content: safe center;
        }
    }

    a {
        text-decoration: none;
    }

    :is(button, ul a, input[type="submit"]):hover {
        cursor: pointer;
        background: var(--hover);
        color: white;
    }

    p a:hover {
        text-decoration: underline;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        gap: 1rem;
    }

    iframe {
        width: 100%;
        height: 100%;
        border: none;
    }

    :is(button, input[type="submit"]).graffiti-login-highlight {
        background: var(--hover);
        color: var(--front);
    }

    :is(button, input[type="submit"]).graffiti-login-highlight:hover {
        background: var(--emph);
    }

    h3 {
        color: var(--frontfaded);
    }

    h2 {
        text-align: center;
        font-weight: 500;
        font-size: 150%;
        background: var(--halfback2);
        padding: 1rem;
        border-radius: 1rem;
        border: 1px solid var(--frontfaded);
        color: var(--front);
    }

    main > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        gap: 0.5rem;
    }
}

.graffiti-login[open] {
    pointer-events: inherit;
    opacity: 1;
}

.graffiti-login::backdrop {
    background-color: black;
    opacity: 0.5;
}

.graffiti-login::before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    background-image: url("./graffiti.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: calc(100% + 2 * var(--blurpix));
    width: calc(100% + 2 * var(--blurpix));
    filter: blur(var(--blurpix));
    margin: calc(-1 * var(--blurpix));
}
